global-exclude *
graft autobyteus
include LICENSE
include README.md
include pyproject.toml
recursive-exclude autobyteus __pycache__ *.pyc *.pyo *.pyd
recursive-exclude autobyteus *.so *.dylib *.dll
prune autobyteus.egg-info
