-r requirements.txt
coverage
flake8
numpy
pre-commit
black
isort
gitpython==3.1.31
auto-gpt-plugin-template
mkdocs
pytest
asynctest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-integration
pytest-mock
vcrpy
pytest-vcr
git+https://github.com/AFE-AI/llm_chatui_provider.git@main