aiohttp
anthropic
beautifulsoup4
boto3
botocore
brui-core==1.1.0
certifi==2025.4.26
cryptography
google-api-python-client
google-genai==1.38.0
httpx
Jinja2
mcp[cli]
mistral_common
mistralai
numpy
ollama
openai
requests
rich
textual
tiktoken
tokenizers
