pymongo
SQLAlchemy
sqlalchemy-utils
alembic
psycopg2-binary
pytest-playwright
beautifulsoup4>=4.12.2
openai
playsound==1.2.2
requests
tiktoken==0.3.3
google-api-python-client
google-generativeai
redis
weaviate-client
sentence-transformers
Pillow
toml
python-dotenv
uvicorn
fastapi 
strawberry-graphql
mistralai
boto3
botocore
anthropic==0.37.1
Jinja2