pymongo
SQLAlchemy
sqlalchemy-utils
alembic
psycopg2-binary
repository-sqlalchemy
repository-mongodb
pytest-playwright
beautifulsoup4>=4.12.2
colorama==0.4.6
distro==1.8.0
openai
playsound==1.2.2
pyyaml==6.0
readability-lxml==0.8.1
requests
tiktoken==0.3.3
gTTS==2.3.1
docker
google-api-python-client
redis
weaviate-client
sentence-transformers
orjson
Pillow
jsonschema
tweepy
click
grpcio 
grpcio-tools
toml
python-dotenv
uvicorn
fastapi 
strawberry-graphql